.content {
    position: absolute;
    display: block;
    top: 28%;
    left: 14%;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    width: 31%;

}

.container-ctn h1 {
    display: flex;
    justify-content: center;
}
.container-ctn p {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;

}

.container-ctn .btn {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-weight: 600;
    background-color: rgb(233, 20, 233);
    padding: 12px 62px;
    border-radius: 5px;
    
}

@media screen and (max-width: 978px) {
    .content {
        width: 80%;
        font-size: 16px;
    }
}