@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}

/* Star SkyzZ ⭐ */

body, html {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    font-family: "Nunito", Arial, sans-serif;
    // background-image: url("../imgs/1.jpg");
    
    background: linear-gradient(rgb(0, 18, 18), 70%, rgb(233, 20, 233));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

::selection {
    color: rgb(233, 20, 233);

}