* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Star SkyzZ ⭐ */

body, html {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-image: url("../imgs/1.jpg");
    background-color: #444;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}